{% extends "shopping_registry/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h2>
        Iniciar sesión.
    </h2>
{% endblock page_header %}

{% block content %}

    <form method="post" action="{% url 'users:login' %}" class="form mb-5">
        {% csrf_token %}

        {% bootstrap_form form %}

        <button name="submit" class="btn btn-primary">Inicia sesión</button>
        <input type="hidden" name="next" 
            value="{% url 'shopping_registry:index' %}" />
    </form>
    
    <p class="lead">
        Cuenta de demostración:
        <ul class="mb-5">
            <li>
                Usuario: <em>supercuenta</em>
            </li>
            <li>
                Contraseña: <em>contra123</em>
            </li>
        </ul>
    </p>

{% endblock content %}