<p>
    <a href="{% url 'shopping_registry:index' %}">Registro Súper</a> - 
    <a href="{% url 'shopping_registry:dates' %}">Visitas al Súper</a> -
    <a href="{% url 'shopping_registry:years' %}">Checa tu gasto mensual</a> -
    <a href="{% url 'shopping_registry:registering_instructions' %}">
        Registrar una nueva compra
    </a> -
    {% if user.is_authenthicated %}
        Hola, {{ user.username }}.
    {% else %}
        <a href="{% url 'users:login' %}">Ingresa</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}