{% extends 'shopping_registry/base.html' %}

{% block content %}

<p>
    Visita: {{ date }}
</p>
<p>
    Compras:
</p>
<ul>
    {% for purchase in purchases %}
        <li>{{ purchase }}</li>
    {% empty %}
        <li>Aún no se han registrado compras para esta visita.</li>
    {% endfor %}
</ul>
<p>
    Total de la visita: ${{ total }}
</p>
<p>
    {% if bar_graph %}
    <div style="width:600; height:500;">
        {{ bar_graph|safe}}
    </div>
    {% endif %}
</p>
<p>
    Información detallada: 
    <br>
    <br>
    Productos con precio por unidad o 100gr:
</p>
<ul>
    {% for key, value in dictionary.items %}
        {% for key2, value2 in value.items %}
            {% if value2 == True %}
                <li>Precio 100 gramos: 
            {% elif value2 == False %}
                <li>Precio por unidad: 
            {% elif value2 > 0 %}
                ${{ value2 }}</li>
                <br>
            {% elif value2 in categories %}
                <li>Categoria: {{ value2 }}</li>
            {% else %}
                <li>Producto: {{ value2 }}</li>
            {% endif %}
        {% endfor %}
    {% empty %}
        <li>Aún no se han registrado productos.</li>
    {% endfor %}
</ul>
<p>
    Gasto por categoría de productos:
</p>
<ul>
    {% for key, value in category_spent.items %}
        <li>
            Categoría: {{ key }}
        </li>
        <li>
            Total: ${{ value }}
        </li>
        <br>
    {% empty %}
        <li>
            Aún no se han registrado productos.
        </li>
    {% endfor %}
</ul>
<p>
    {% if pie_graph %}
    <div style="width:600; height:500;">
        {{ pie_graph|safe}}
    </div>
    {% else %}
    <p>
        No graph was provided.
    </p>
    {% endif %}
</p>


{% endblock content %}