{% extends 'shopping_registry/base.html' %}

{% block page_header %}
<h1 class="display-2">
    <div class="text-center fw-bold">
        {{ date.date_trip|date:"j N Y" }}
    </div>
</h1>
{% endblock page_header %}

{% block content %}
<!-- Buttons with functions related to the date. -->
<div class="d-grid gap-2 d-md-block text-center">
    <a href="{% url 'shopping_registry:edit_date' date.id %}" class="btn btn-primary btn-sm" role="button">
        Editar fecha
    </a>
    <a href="{% url 'shopping_registry:erase_date_confirmation' date.id %}" class="btn btn-primary btn-sm" role="button">
        Eliminar fecha
    </a>
    <a href="{% url 'shopping_registry:new_purchase' %}" class="btn btn-primary btn-sm" role="button">
        Registrar compra
    </a>
</div>

<!-- Displays the total spent in the selected date. -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Gasto total:
    </h3>
</div>
<h1 class="display-5">
    <div class="text-center">
        ${{ total }}
    </div>
</h1>

<!-- The purchases linked to the date. -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Compras:
    </h3>
</div>
<p class="lead">
    Para editar o eliminar un producto, da click al nombre.
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Producto
            </th>
            <th scope="col">
                Cantidad
            </th>
            <th scope="col">
                Total
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td>
                <a href="{% url 'shopping_registry:edit_product' purchase.product.id %}">
                    {{ purchase.product }}
                </a>
            </td>
            <td>
                {% if purchase.bulk == True %}
                    {{ purchase.quantity }} gr.
                {% else %}
                    {{ purchase.quantity }}
                {% endif %}
            </td>
            <td>
                ${{ purchase.price }}
            </td>
            <td>
                <a href="{% url 'shopping_registry:edit_purchase' purchase.id %}"
                    class="btn btn-secondary" role="button">
                    Editar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Individual prices for products. -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Costo p/unidad o 100 gr.:
    </h3>
</div>

{% for key, value in dictionary.items %}
    <div class="card" style="width: 18rem; text-align:center; width: 300px;
        margin: 0 auto;">
        <ul class="list-group list-group-flush">
    {% for key2, value2 in value.items %}
        <!-- Checks for bulk value. -->
        {% if value2 == True %}
            <li class="list-group-item">
                Precio p/100 gramos:
        {% elif value2 == False %}
            <li class="list-group-item">
                Precio p/unidad:
        <!-- Checks if the value is the price. -->
        {% elif value2 > 0 %}
                ${{ value2 }}
            </li>
        <!-- Checks if the value is the category name. -->
        {% elif value2 in categories %}
            <li class="list-group-item">
                Categoria: {{ value2 }}
            </li>
        <!-- The product name. -->
        {% else %}
            <div class="card-header">
                <b>
                    {{ value2 }}
                </b>
            </div>
        {% endif %}
    {% endfor %}
        </ul>
    </div>
    <br>
{% empty %}
    <h1>
        Aun no se han registrado productos.
    </h1>
{% endfor %}

<!-- Graphs for the date's products. -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Gasto total por producto:
    </h3>
</div>
<p>
    {% if bar_graph %}
    <div style="width:600; height:500;">
        {{ bar_graph|safe}}
    </div>
    {% endif %}
</p>

<!-- Total spent per category. -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Gasto total por categoría
    </h3>
</div>
<ul>
    {% for category, total in category_spent.items %}
        <li>
            Categoría: 
            <a href="{% url 'shopping_registry:edit_category' category.id %}">
                {{ category }}
            </a>
        </li>
        <li>
            Total: ${{ total }}
        </li>
        <br>
    {% empty %}
        <li>
            Aún no se han registrado productos.
        </li>
    {% endfor %}
</ul>
<!-- Graph for total spent per category. -->
<p>
    {% if pie_graph %}
    <div style="width:600; height:500;">
        {{ pie_graph|safe}}
    </div>
    {% else %}
    <p>
        No graph was provided.
    </p>
    {% endif %}
</p>

{% endblock content %}