{% extends "shopping_registry/base.html" %}

{% block page_header %}
<h1 class="display-2">
    <div class="text-center fw-bold">
        {{ category }}
    </div>
</h1>
{% endblock page_header %}

{% block content %}
    <div class="d-grid gap-2 d-md-block text-center btn-group btn-group-sm mb-4" role="group" aria-label="Function buttons">
        <a href="{% url 'shopping_registry:delete_category_confirmation' category.id %}"
            class="btn btn-danger" role="button">
            Eliminar categoría
        </a>
    </div>

    <form action="{% url 'shopping_registry:edit_category' category.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2 d-md-block text-center btn-group btn-group-lg">
            <button name="submit" class="btn btn-success btn-lg mt-5">
                Guardar cambios
            </button>
        </div>
    </form>

{% endblock content %}