{% extends "shopping_registry/base.html" %}

{% block page_header %}
<h1 class="display-2">
    <div class="text-center fw-bold">
        {{ purchase }}
    </div>
</h1>
{% endblock page_header %}

{% block content %}
    <!-- Buttons with functions related to the template. -->
    <div class="d-grid gap-2 d-md-block text-center btn-group btn-group-sm mb-5" role="group" aria-label="Function buttons">
        <a href="{% url 'shopping_registry:registering_instructions' %}" class="btn btn-secondary" role="button">
            Instrucciones
        </a>
        <a href="{% url 'shopping_registry:delete_purchase_confirmation' purchase.id %}" class="btn btn-danger" role="button">
            Eliminar esta compra
        </a>
    </div>

    <!-- Form to edit the purchase. -->
    <form action="{% url 'shopping_registry:edit_purchase' purchase.id %}" method='post'>
        {% csrf_token %}

        {{ form.non_fields_errors }}

        <div class="fieldWrapper input-group mb-3">
            {{ form.product.errors }}
            <label for="{{ form.product.id_product }}" class="input-group-text">
                Producto: 
            </label>
            <input id="{{ form.product.id_product }}" type="text" 
                class="form-control" name="product" value="{{purchase.product}}" required>
        </div>

        <br>

        <div class="fieldWrapper input-group mb-3">
            {{ form.category.errors }}
            <label for="{{ form.category.id_category }}" class="input-group-text">
                Categoría: 
            </label>
            <input id="{{ form.category.id_category }}" type="text"  
            class="form-control" name="category" value="{{purchase.category}}" required>
        </div>

        <br>
        <div class="fieldWrapper input-group mb-3">
            {{ form.quantity.errors }}
            <label for="{{ form.quantity.id_quantity }}" class="input-group-text">
                Cantidad: 
            </label>
            <input id="{{ form.category.id_quantity }}" type="text"  
            class="form-control" name="quantity" value="{{purchase.quantity}}"
            placeholder="En gramos si es compra a granel" required>
        </div>

        <br>

        <div class="fieldWrapper input-group mb-3">
            {{ form.price.errors }}
            <label for="{{ form.price.id_price }}" class="input-group-text">
                Precio total: 
            </label>
            <span class="input-group-text">
                $
            </span>
            <input id="{{ form.category.id_price }}" type="text"  
            class="form-control" name="price" value="{{purchase.price}}" required>
        </div>

        <br>

        <div class="fieldWrapper input-group mb-3">
            {{ form.date_purchase.errors }}
            <label for="{{ form.date_purchase.id_date_purchase }}" class="input-group-text">
                Fecha de la compra:
            </label>
            <input id="{{ form.category.id_date_purchase }}" type="text"  
            class="form-control" name="date_purchase" placeholder="AAAA-MM-DD" 
            value="{{ date }}" required>
        </div>

        <br>

        <div class="fieldWrapper input-group mb-3">
            {{ form.bulk.errors }}
            <label for="{{ form.bulk.id_bulk }}" class="input-group-text">
                Llena la casilla si fue compra a granel: 
            </label>
            <div class="input-group-text">
                {% if purchase.bulk == True %}
                <input type="checkbox" name="bulk" id="id_bulk" 
                    class="form-check-input" checked>
                {% else %}
                <input type="checkbox" name="bulk" id="id_bulk" 
                    class="form-check-input">
                {% endif %}
            </div>
        </div>

        <br>

        <div class="d-grid gap-2 d-md-block text-center btn-group btn-group-lg">
            <button name="submit" class="btn btn-success btn-lg mt-5">
                Guardar cambios
            </button>
        </div>
        
    </form>    

{% endblock content %}