{% extends "shopping_registry/base.html" %}

{% block page_header %}
<h1 class="display-2">
    <div class="text-center fw-bold">
        {{ product }}
    </div>
</h1>
{% endblock page_header %}

{% block content %}
    <div class="d-grid gap-2 d-md-block text-center btn-group btn-group-sm" role="group" aria-label="Function buttons">
        <a href="{% url 'shopping_registry:delete_product_confirmation' product.id %}"
            class="btn btn-danger" role="button">
            Eliminar producto
        </a>
        <br>
        <br>
    </div>
    
    <form action="{% url 'shopping_registry:edit_product' product.id %}" method='post'>
        {% csrf_token %}

        {{ form.non_fields_errors }}

        <div class="mb-3">
            {{ form.name.errors }}
            <label for="{{ form.name.id_name }}" class="form-label">
                Nombre del producto:
            </label>
            <div>
                {{ form.name }}
            </div>         
        </div>

        <div class="fieldWrapper">
            {{ form.category.errors }}
            <label for="{{ form.category.id_category }}">
                Categoria:                 
            </label>
            {{ form.category }}
            
            <br>
            
            <br>
            
            <a href="{% url 'shopping_registry:new_category' %}" 
                class="btn btn-secondary btn-sm" role="button">
                Registrar nueva categoria
            </a>
        </div>

        <br>

        <div class="d-grid gap-2 d-md-block text-center btn-group btn-group-lg">
            <button name="submit" class="btn btn-success btn-lg">
                Guardar cambios
            </button>
        </div>
    </form>    

{% endblock content %}