{% extends "shopping_registry/base.html" %}

{% block page_header %}
<h1 class="display-2">
    <div class="text-center fw-bold">
        {{ product }}
    </div>
</h1>
{% endblock page_header %}

{% block content %}

    <h1>
        Editar el producto: {{ product }}
    </h1>

    <p>
        <a href="{% url 'shopping_registry:delete_product_confirmation' product.id %}">
            Eliminar producto
        </a>
    </p>
    
    <form action="{% url 'shopping_registry:edit_product' product.id %}" method='post'>
        {% csrf_token %}

        {{ form.non_fields_errors }}

        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="{{ form.name.id_name }}">
                Nombre del producto:
            </label>
            {{ form.name }}
        </div>

        <br>

        <div class="fieldWrapper">
            {{ form.category.errors }}
            <label for="{{ form.category.id_category }}">
                Categoria:                 
            </label>
            {{ form.category }}
            
            <br>
            
            <br>
            
            <a href="{% url 'shopping_registry:new_category' %}">
                Registrar nueva categoria
            </a>
        </div>

        <br>
        


        <button name="submit">
            Registrar producto
        </button>
    </form>    

{% endblock content %}