{% extends "shopping_registry/base.html" %}

{% block page_header %}
<h1 class="display-5">
    <div class="text-center fw-bold">
        ¡Lea con atención!
    </div>
</h1>
{% endblock page_header %}

{% block content %}

<p class="lead">
    Esta tratando de eliminar todas las compras realizadas el día {{ date|date:"j N Y" }}. <strong>¿Seguro/a?</strong> 
</p>

<p>Esto eliminara todas las compras realizadas en esta fecha:</p>

<!-- The purchases linked to the date. -->
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Producto
            </th>
            <th scope="col">
                Cantidad
            </th>
            <th scope="col">
                Total
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td>
                {{ purchase.product }}
            </td>
            <td>
                {% if purchase.bulk == True %}
                    {{ purchase.quantity }} gr.
                {% else %}
                    {{ purchase.quantity }}
                {% endif %}
            </td>
            <td>
                ${{ purchase.price }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <!-- Buttons with functions related to the template. -->
    <div class="d-grid gap-2 d-md-block text-center btn-group btn-group-sm mb-5" role="group" aria-label="Function buttons">
        <a href="{% url 'shopping_registry:erase_date' date_string %}" class="btn btn-danger" role="button">
            Si, deseo borrarlas.
        </a>
        <a href="{% url 'shopping_registry:date' date_string %}" class="btn btn-secondary" role="button">
            No, quiero regresar.
        </a>
    </div>

{% endblock content %}