{% extends "shopping_registry/base.html" %}

{% block content %}

<h1>¡Lea con atención!</h1>

<h2>Esta tratando de eliminar todas las compras realizadas el día {{ date }}. ¿Seguro?</h2>

<p>Esto eliminara todas las compras vinculadas a esta fecha:</p>

<!-- The purchases linked to the date. -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        
    </h3>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Producto
            </th>
            <th scope="col">
                Cantidad
            </th>
            <th scope="col">
                Total
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td>
                {{ purchase.product }}
            </td>
            <td>
                {% if purchase.bulk == True %}
                    {{ purchase.quantity }} gr.
                {% else %}
                    {{ purchase.quantity }}
                {% endif %}
            </td>
            <td>
                ${{ purchase.price }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'shopping_registry:erase_date' date_string %}">
    Si, deseo borrarlas.
</a>
<br>
<a href="{% url 'shopping_registry:date' date_string %}">
    No, quiero regresar.
</a>

{% endblock content %}