{% extends "shopping_registry/base.html" %}

{% block page_header %}
<div class="px-4 py-5 my-5 text-center">
    <img src="https://i.imgur.com/LiV0Dlk.png" 
        class="d-block mx-auto mb-4" alt="banana logo" width="72" height="57">
    <h1 class="display-5 fw-bold text-center">
        Registro de compras de Súper
    </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Este programa te ayuda a registrar todas tus compras del Súper y analizar tus gastos.
        </p>
        {% if user.is_authenticated %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-lg btn-primary px-4 gap-3" href="{% url 'shopping_registry:new_purchase' %}"
                role="button">
                Registra una compra &raquo;
            </a>            
        </div>
        {% else %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-lg btn-primary px-4 gap-3" href="{% url 'users:register' %}"
                role="button">
                Regístrate &raquo;
            </a>
            <a class="btn btn-lg btn-primary px-4 gap-3" href="#">
                Demostración &raquo;
            </a>            
        </div>
        {% endif %}
    </div>
</div>
{% endblock page_header %}