{% extends "shopping_registry/base.html" %}

{% block page_header %}
<h1 class="display-5">
    <div class="text-center fw-bold">
        Registrar un viaje al super
    </div>
</h1>
{% endblock page_header %}

{% block content %}
<h2>
    Instrucciones:
</h2>
    <ul>
        <li>Toma tu ticket</li>
        <li>Registra cada producto, la cantidad comprada y el precio total como 
            una <mark>compra</mark>.</li>
    </ul>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'shopping_registry:new_purchase' %}" 
            class="btn btn-primary btn-lg" role="button">
            Empezar a registrar
        </a>
    </div>
{% endblock content %}