{% extends 'shopping_registry/base.html' %}

{% block content %}
<h1>
    Todas las compras del mes {{ date|date:"F Y" }}
</h1>
<p>
    Gasto total: ${{ total }}
</p>
<ul>
    {% for product, total in products_total.items %}
        <li>{{ product }} : ${{ total }}</li>
    {% endfor %}
</ul>

<ul>
    {% for date in dates %}
        <li>
            <a href="{% url 'shopping_registry:date' date.id %}">
                {{ date.date_trip|date:"d-m-Y" }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}