{% extends 'shopping_registry/base.html' %}

{% block page_header %}
<h1 class="display-2">
    <div class="fw-bold">
        Elige un mes:
    </div>
</h1>
{% endblock page_header %}

{% block content %}

<div class="list-group">
    {% for date in dates %}
        <a href="{% url 'shopping_registry:MonthView' year date.month %}"
            class="list-group-item list-group-item-action text-center display-6">
            {{ date|date:"F" }}
        </a>
    {% empty %}
        <p class="list-group-item list-group-item-action text-center display-6">
            Aún no se ha registrado ninguna visita.
        </p>
    {% endfor %}
</div>

{% endblock content%}