{% extends 'shopping_registry/base.html' %}

{% block page_header %}
<h1 class="display-2">
    <div class="text-center fw-bold">
        {{ date|date:"F Y" }}
    </div>
</h1>
{% endblock page_header %}

{% block content %}

<!-- Displays the total spent in the selected month. -->
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Gasto total:
    </h3>
</div>
<h1 class="display-5">
    <div class="text-center">
        ${{ total }}
    </div>
</h1>

<!-- Displays all the dates registered in the month. -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Fechas:
    </h3>
</div>
<div class="list-group">
    {% for date in dates %}
        <a href="{% url 'shopping_registry:date' date %}" 
            class="list-group-item list-group-item-action text-center">
            {{ date|date:"j N Y" }}
        </a>
    {% endfor %}
</div>
<br>

<!-- Table to display the product and the total spent. -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Gasto por producto:
    </h3>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Producto
            </th>
            <th scope="col">
                Total
            </th>
        </tr>
    </thead>
    <tbody>
            {% for product, total in products_total.items %}
            <tr>
            <td>
                {{ product }}
            </td>
            <td>
                ${{ total }}
            </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
<!-- Table to display the total spent per category of products. -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Gasto por categoría:
    </h3>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Categoría
            </th>
            <th scope="col">
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        {% for category, total in categories_total.items %}
        <tr>
            <td>
                <a href="{% url 'shopping_registry:edit_category' category %}">
                    {{ category }}
                </a>
            </td>
            <td>
                ${{ total }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Graphs -->
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Gasto total por producto:
    </h3>
</div>
<p>
    {% if bar_graph %}
    <div style="width:600; height:500;">
        {{ bar_graph|safe}}
    </div>
    {% endif %}
</p>
<br>
<div class="bd-heading align-self-start mb-3 mt-x1-0 mb-x1-2">
    <h3>
        Gasto total por categoría
    </h3>
</div>
<p>
    {% if pie_graph %}
    <div style="width:600; height:500;">
        {{ pie_graph|safe}}
    </div>
    {% else %}
    <p>
        No graph was provided.
    </p>
    {% endif %}
</p>

{% endblock content %}