{% extends "shopping_registry/base.html" %}

{% block page_header %}
<h1 class="display-5">
    <div class="text-center fw-bold">
        Registra un nuevo producto:
    </div>
</h1>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'shopping_registry:new_product' %}" method='post'
        class="mt-5">
        {% csrf_token %}

        {{ form.non_fields_errors }}

        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="{{ form.name.id_name }}">
                Nombre del producto:
            </label>
            {{ form.name }}
        </div>

        <br>

        <div class="fieldWrapper">
            {{ form.category.errors }}
            <label for="{{ form.category.id_category }}">
                Categoria:                 
            </label>
            {{ form.category }}
            <br>
            <br>
            <a href="{% url 'shopping_registry:new_category' %}" 
                class="btn btn-secondary btn-sm" role="button">
                Registrar nueva categoría
            </a>
        </div>

        <br>
        
        <div class="d-grid gap-2 d-md-block text-center btn-group btn-group-lg">
            <button name="submit" class="btn btn-success btn-lg mt-5">
                Registrar producto
            </button>
        </div>    
    </form>
{% endblock content %}