{% extends "shopping_registry/base.html" %}

{% block page_header %}
<h1 class="display-5">
    <div class="text-center fw-bold">
        Registra una nueva compra:
    </div>
</h1>
{% endblock page_header %}

{% block content %}
<div class="d-grid gap-2 col-4 mx-auto">
    <a href="{% url 'shopping_registry:registering_instructions' %}"
        class="btn btn-secondary" role="button">
        Instrucciones
    </a>
</div>
    <br>
    <br>
    <form action="{% url 'shopping_registry:new_purchase' %}" method='post'>
        {% csrf_token %}

        {{ form.non_fields_errors }}

        <div class="fieldWrapper">
            {{ form.product.errors }}
            <label for="{{ form.product.id_product }}">
                Producto: 
            </label>
            {{ form.product }}
            <br>
            <br>
            <a href="{% url 'shopping_registry:new_product' %}">
                Registra un nuevo producto
            </a>
        </div>

        <br>
        
        <div class="fieldWrapper">
            {{ form.quantity.errors }}
            <label for="{{ form.quantity.id_quantity }}">
                Cantidad: 
            </label>
            {{ form.quantity }}
        </div>

        <br>

        <div class="fieldWrapper">
            {{ form.price.errors }}
            <label for="{{ form.price.id_price }}">
                Precio total: 
            </label>
            {{ form.price }}
        </div>

        <br>

        <div class="fieldWrapper">
            {{ form.date_purchase.errors }}
            <label for="{{ form.date_purchase.id_date_purchase }}">
                Fecha de la compra:
            </label>
            {{ form.date_purchase }}
        </div>

        <br>

        <div class="fieldWrapper">
            {{ form.bulk.errors }}
            <label for="{{ form.bulk.id_bulk }}">
                Llena la casilla si fue compra a granel: 
            </label>
            {{ form.bulk }}
        </div>

        <br>

        <button name="submit">
            Registrar compra
        </button>        
    </form>
{% endblock content %}