{% extends "shopping_registry/base.html" %}

{% block page_header %}
<h1 class="display-5">
    <div class="text-center fw-bold">
        Registra una nueva compra:
    </div>
</h1>
{% endblock page_header %}

{% block content %}
    <div class="d-grid gap-2 d-md-block text-center btn-group btn-group-sm mb-5" 
        role="group" aria-label="Function buttons">
        <a href="{% url 'shopping_registry:registering_instructions' %}" 
            class="btn btn-secondary" role="button">
            Instrucciones
        </a>
    </div>
    <form action="{% url 'shopping_registry:new_purchase' %}" method='post'>
        {% csrf_token %}

        {{ form.non_fields_errors }}

        <div class="fieldWrapper input-group mb-3">
            {{ form.product.errors }}
            <label for="{{ form.product.id_product }}" class="input-group-text">
                Producto: 
            </label>
            <input id="{{ form.product.id_product }}" type="text" 
                class="form-control" name="product" required>
        </div>

        <br>

        <div class="fieldWrapper input-group mb-3">
            {{ form.category.errors }}
            <label for="{{ form.category.id_category }}" class="input-group-text">
                Categoría: 
            </label>
            <input id="{{ form.category.id_category }}" type="text"  
            class="form-control" name="category" required>
        </div>

        <br>
        
        <div class="fieldWrapper input-group mb-3">
            {{ form.quantity.errors }}
            <label for="{{ form.quantity.id_quantity }}" class="input-group-text">
                Cantidad: 
            </label>
            <input id="{{ form.category.id_quantity }}" type="text"  
            class="form-control" name="quantity" 
            placeholder="En gramos si es compra a granel" required>
        </div>

        <br>

        <div class="fieldWrapper input-group mb-3">
            {{ form.price.errors }}
            <label for="{{ form.price.id_price }}" class="input-group-text">
                Precio total: 
            </label>
            <span class="input-group-text">
                $
            </span>
            <input id="{{ form.category.id_price }}" type="text"  
            class="form-control" name="price" required>
        </div>

        <br>

        <div class="fieldWrapper input-group mb-3">
            {{ form.date_purchase.errors }}
            <label for="{{ form.date_purchase.id_date_purchase }}" class="input-group-text">
                Fecha de la compra:
            </label>
            <input id="id_date_purchase" type="text"  
            class="form-control" name="date_purchase" placeholder="MM/DD/AAAA" 
            required>
        </div>

        <br>

        <div class="fieldWrapper input-group mb-3">
            {{ form.bulk.errors }}
            <label for="{{ form.bulk.id_bulk }}" class="input-group-text">
                Llena la casilla si fue compra a granel: 
            </label>
            <div class="input-group-text">
                <input type="checkbox" name="bulk" id="id_bulk" 
                    class="form-check-input">
            </div>
        </div>

        <br>

        <div class="d-grid gap-2 d-md-block text-center btn-group" role="group" 
            aria-label="Function buttons">
            <button name="submit" class="btn btn-success btn-lg mt-5">
                Registrar compra
            </button>
            <button name="saveAnother" type="submit" 
            class="btn btn-success btn-lg mt-5" value="saveAnother">
                Guardar y registrar otra
            </button>
            <a class="btn btn-danger btn-lg mt-5" href="{% url 'shopping_registry:index' %}">
                Cancelar
            </a>
        </div>

    </form>
{% endblock content %}