{% extends 'shopping_registry/base.html' %}

{% block page_header %}
<h1 class="display-2">
    <div class="fw-bold">
        Elige un año:
    </div>
</h1>
{% endblock page_header %}

{% block content %}

<div class="list-group">
    {% for year in years %}
        <a href="{% url 'shopping_registry:months' year %}" 
            class="list-group-item list-group-item-action text-center display-6">
            {{ year }}
        </a>
    {% empty %}
        <p class="list-group-item list-group-item-action text-center display-6">
            Aún no se ha registrado ninguna visita.
        </p>
    {% endfor %}
</div>

{% endblock content%}